ENABLE_OLLAMA_API=False
WHISPER_MODEL=tiny
TASK_MODEL=ministral-3:3b-cloud
TASK_MODEL_EXTERNAL=ministral-3:3b-cloud
OPENAI_API_BASE_URL=https://ollama.com/v1
OPENAI_API_KEY=OLLAMA_API_KEY
CORS_ALLOW_ORIGIN="http://192.168.1.222:5000;http://localhost:5000;https://refyne.hyprlabs.io"
WEBUI_SECRET_KEY=long-string-of-keys
RAG_EMBEDDING_ENGINE=
RAG_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
RAG_EMBEDDING_BATCH_SIZE=32
CHUNK_MIN_SIZE_TARGET=400
CHUNK_SIZE=1500
CHUNK_OVERLAP=150

ENABLE_WEB_SEARCH=True
WEB_SEARCH_ENGINE=ollama_cloud
OLLAMA_CLOUD_WEB_SEARCH_API_KEY=OLLAMA_API_KEY

WEBUI_URL=https://refyne.hyprlabs.io
WEBUI_NAME=Refyne
ENABLE_EVALUATION_ARENA_MODELS=False
USER_PERMISSIONS_CHAT_CONTROLS=False
USER_PERMISSIONS_CHAT_MULTIPLE_MODELS=False
USER_PERMISSIONS_CHAT_TTS=True
ENABLE_IMAGE_GENERATION=False

AUDIO_TTS_ENGINE=
AUDIO_STT_ENGINE=openai
AUDIO_STT_OPENAI_API_BASE_URL=http://speaches:8000/v1
AUDIO_STT_OPENAI_API_KEY=speaches
AUDIO_STT_MODEL=Systran/faster-whisper-base.en

# For production you should set this to match the proxy configuration (127.0.0.1)
FORWARDED_ALLOW_IPS='*'

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false

# Valkey Vector Store (requires VECTOR_DB=valkey)
# VALKEY_URL='valkey://localhost:6379'
# VALKEY_COLLECTION_PREFIX='open_webui'
# VALKEY_INDEX_TYPE='HNSW'
# VALKEY_DISTANCE_METRIC='COSINE'
# VALKEY_HNSW_M='16'
# VALKEY_HNSW_EF_CONSTRUCTION='200'
# VALKEY_HNSW_EF_RUNTIME='10'
